//- ***** Review Card Start *****
mixin reviewCard(name, text)
    div.col-12.col-md-6.col-lg-4.mb-4
        <!-- Single Review -->
        div.single-review.card
            //- Card Top
            div.card-top.p-4
                //- Stars
                div.review-icon
                    i.fas.fa-star.text-warning
                    i.fas.fa-star.text-warning
                    i.fas.fa-star.text-warning
                    i.fas.fa-star.text-warning
                    i.fas.fa-star.text-warning

                //- Review Text
                div.review-text.mt-4
                    p= text
            

            //- Reviewer
            div.reviewer.media.bg-gray.p-4
                //- Reviewer Media
                div.reviewer-meta.media-body.align-self-center
                    h5.reviewer-name.color-primary.mb-2= name
                    //- <h6 class="text-secondary fw-6">Venezuela</h6>

//- ***** Review Card End *****


//- ***** Benefit Card Start *****
mixin benefitCard(icon, title, description, spaces)
    //- div.col-12.col-md-6.col-lg-4.col-xl-3.mt-4
    //- Image Box
    div.image-box.text-center.icon-1.p-5.wow.fadeInLeft(data-wow-delay="0.4s").mt-4
        .container-fluid
            .row
                .col-4
                    //- Featured Image
                    div.featured-img.mb-3
                    span(class= icon).benefit-icon
                .col-8
                    //- Icon Text
                    div.icon-text
                        h3.mb-2= title

                        block contentCard
                            p= description
                            
                            //- Print spaces
                            - let i = 0
                            div
                                while i < spaces
                                    br
                                    - i++
//- ***** Benefit Card Start *****


//- ***** Card Question Start *****
mixin cardQuestion(title, description)
    div.card.border-0
        //- Card Header
        div.card-header.bg-inherit.border-0.p-0
            h3.mb-0.py-3.question= title
        //- Card Body
        div.card-body.px-0.py-3= description
//- ***** Card Question End *****
